<div class=" d-flex justify-content-around">

    <div class="card" style="width: 18rem;">

        <img src="https://img.pizza/350/350" alt="mmm pizza">

        <div class="card-body">
            <h5 class="card-title">Margherita</h5>
            <p class="card-text">Pomodoro, mozzarella</p>

            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-primary me-3">Acquista</a>
                <strong class="">6.99 €</strong>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">

        <img src="https://img.pizza/350/350" alt="mmm pizza">

        <div class="card-body">
            <h5 class="card-title"> 4 Formaggi</h5>
            <p class="card-text">Pomodoro, mozzarella, formaggi misti</p>

            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-primary me-3">Acquista</a>
                <strong class="">6.99 €</strong>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">

                <img src="https://img.pizza/350/350" alt="mmm pizza">

        <div class="card-body">
            <h5 class="card-title">Diavola</h5>
            <p class="card-text">Pomodoro, mozzarella, salame piccante</p>
            
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-primary me-3">Acquista</a>
                <strong class="">6.99 €</strong>
            </div>
        </div>
    </div>
</div>
<div class=" d-flex justify-content-around">
    <div class="card" style="width: 18rem;">

                <img src="https://img.pizza/350/350" alt="mmm pizza">

        <div class="card-body">
            <h5 class="card-title">Boscaiola allegra</h5>
            <p class="card-text">Mozzarella, funghi, salsiccia, funghi, provola</p>
            
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-primary me-3">Acquista</a>
                <strong class="">6.99 €</strong>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">

        <img src="https://img.pizza/350/350" alt="mmm pizza">

        <div class="card-body">
            <h5 class="card-title">Capricciosa</h5>
            <p class="card-text">Mozzarella funghi, carciofini, olive, prosciutto e pomodoro</p>
            
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-primary me-3">Acquista</a>
                <strong class="">6.99 €</strong>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">

        <img src="https://img.pizza/350/350" alt="mmm pizza">

        <div class="card-body">
            <h5 class="card-title">Marinara</h5>
            <p class="card-text">Pomodoro, olio, salsa, olive nere e origano</p>
            
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-primary me-3">Acquista</a>
                <strong class="">6.99 €</strong>
            </div>
        </div>
    </div>

</div>